body{
    background-color: azure;
    font-family: sans-serif;
}

.encabezado{
   display: flex;
   align-items: center;
   padding-top: 2%;
}

.encabezado img{
    width: 200px;
    height: 100%;
}   

.titulo{
    display: flex;
    color:black;
    background-color: rgba(100, 149, 237,40%);
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 80px;
}

div.iconos{
    margin: 10px 20px;
    box-shadow: 0px 0px 10px 0px lightskyblue, 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;
    width: 20%;
    padding: 15px;
}

div.iconos img{
    width: 100%;
    height: auto;
}

div.iconos:hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}

div.pie {
    text-align: center;
    /*text-shadow: 2px 2px 5px red;*/
    box-shadow: 0px 0px 2px 0px black;
    border-radius: 5%;
    background-color: black;
    color: white;
}

div.todo{
    display:flex;
    justify-content: space-around;
}